$color-purple: #540d6e;
$color-pink: #ee4266;
$color-yellow: #ffd23f;
$color-blue: #3bceac;
$color-green: #0ead69;

$color-light-blue: #6be7cb;
$color-light-pink: #F7718E;
$color-background: #F2E9E4;
$breakpoint-xxl: 1200px;
$breakpoint-xl: 1024px;
$breakpoint-md: 767px;
$breakpoint-sm: 576px;